{% for hour in availabe %}

<label class="{% if hour.availabe === false %}disabled{% endif %}" for="time-{{ hour.time }}">
  {% if hour.availabe === true %}
    <input type="radio" name="date" value="{{ hour.value }}" id="time-{{ hour.time }}">
  {% endif %}
  {{ hour.time }}
</label>

{% endfor %}
