{% extends '_layouts/auth.njk' %}

{% block body %}
  <form action="/signup" method="post" enctype="multipart/form-data">
    {% include '_partials/flash.njk' %}

    <label for="avatar">
      <img src="/images/avatar.svg" height="24">
    </label>

    <input id="avatar" name="avatar" type="file">

    <input type="text" name="name" id="name" placeholder="Seu nome">
    <input type="email" name="email" id="email" placeholder="Seu email">
    <input type="password" name="password" id="password" placeholder="Sua senha">

    <label for="provider">
      <input type="checkbox" name="provider" id="provider" value="1">
      Sou cabelereiro
    </label>

    <button type="submit">Criar conta</button>

    <a href="/">Já tenho uma conta</a>
  </form>

  <script type="text/javascript">
    var avatarImg = document.getElementById('avatar')
    var img = document.querySelector('label[for=avatar] img')

    avatarImg.onchange = function (e) {
      img.classList.add('preview')
      img.src = URL.createObjectURL(e.target.files[0])
    }
  </script>
{% endblock %}
